{% extends "base.html" %}
{% block links %}
<link href="bibliography.json" stype="application/json" rel="exhibit/data" />
<script src="http://static.simile.mit.edu/exhibit/api-2.0/exhibit-api.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/bibliography/css/bibliography.css">
{% endblock %}
{% block content %}
<div id="bibliography" class="spied"></div>

<h4>Bibliography</h4>
<div ex:role="viewPanel">
    <div ex:role="view" ex:orders=".authors" ex:directions="ascending" ex:grouped="false" ex:showAll="true"></div>
  <div ex:role="lens" class="bibliography">
    <div ex:content=".label" class="title"></div>
    <div class="biblio_content">
      <div ex:content=".authors" class="authors"></div>
      <div ex:content=".uri" class="uri"></div>
      <div ex:content=".publisher" class="publisher"></div><span class="parenthesis">(</span>
      <span ex:content=".year" class="year"></span><span class="parenthesis">)</span>
    </div>
  </div>
</div>
{% endblock %}
